body { 
	font-family: "ITC Franklin Gothic";
}

h1, h2, h3, h4, h5 {
	text-align: center;
    padding-top: 10vh; 
    padding-bottom: 20px  
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 300px;
	width: 200px;
}

p {
	text-align: center;
}

#welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
	height: 8vh;
	background-color: black;
}

.nav-link {
	color: white;
}

.error {
	color: red;
}

#search-by-author {
	min-height: 80vh;
}

#search-by-date {
	min-height: 80vh;
}

#search-by-list {
	min-height: 80vh;
}